app/step-function-templates/handle_bclconvert_succeeded_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set vars",
  "States": {
    "Set vars": {
      "Type": "Pass",
      "Next": "Create new BSSH Copy Workflow Run Object",
      "Assign": {
        "bclconvertPortalRunId": "{% $states.input.portalRunId %}"
      }
    },
    "Create new BSSH Copy Workflow Run Object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__create_new_workflow_run_object_lambda_function_arn__}",
        "Payload": {
          "bclconvertPortalRunId": "{% $bclconvertPortalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Assign": {
        "workflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
      },
      "Next": "Put workflow run update event",
      "Output": {}
    },
    "Put workflow run update event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $workflowRunObject,\n  {\n    \"timestamp\": $now()  }\n]) %}",
            "DetailType": "${__workflow_run_update_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
